Repository gabefo/next-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Configure lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

Add vscode settings
  .vscode/extensions.json
  .vscode/settings.json
  assets/globals.css
Due: prettier --write

Create LICENSE.md
  LICENSE.md
Due: prettier --write

Change pre-commit command
  .husky/pre-commit
Due: none

Create Button component
  assets/globals.css
  components/Button/Button.module.css
  components/Button/Button.tsx
  components/Button/index.ts
  package.json
  pages/_app.tsx
  yarn.lock
Due: eslint, prettier --write

Alphabetize imports
  .eslintrc
  components/Button/Button.module.css
  package.json
Due: prettier --write

declare module css
  @types/index.d.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: (any of: **/*.{js,jsx,ts,tsx}) or (any of: **/*.{md,mdx,json})
